/* movieDetails.css */
.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 2rem auto;
  }
  
  .movie-details-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-details-genres {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .movie-details-overview {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .movie-details-year {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .movie-details-language {
    font-size: 18px;
    margin-bottom: 10px;
  }
  body {
    background-color: white;
}
  
  /* Add more styles as needed */
  